.contact{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow:
  0 3.4px 38.3px rgba(0, 0, 0, 0.057),
  0 5.5px 62px rgba(0, 0, 0, 0.085),
  0 7.7px 76.2px rgba(0, 0, 0, 0.109),
  0 20px 25px rgba(0, 0, 0, 0.15)
;
background-color: #ffffed;
}
form{
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 15px;
  margin: auto;
  padding: 30px 15px;
}
form label{
  font-size: 1rem;
  background-color: #ffffed;
}

form textarea{
  border: 1px solid #5D4A66 ;
  border-radius: 5px;
  height: 150px;
  font-size: 1.2rem;
  background-color: #ffffed;

}

form input[type=text]:focus, input[type=email]:focus, textarea:focus{
  background-color: #fff6de;
  outline: none;
  border: 2px solid #5D4A66 ;
}

form button{
  width: 15%;
  height: 45px;
  background-color: #fff6de;
  outline: none;
  border: 1px solid #5D4A66;
  color: #5D4A66;
  border-radius: 5px;
  transition: background-color .4s ease;
  margin: auto;
  margin-top: 10px;
  font-size: 1.1rem;
}

form button:hover{
  background-color: #FFE49E;
  color: #3d2647;
}

form input, textarea, label{
  margin: 2.5px;
}

@media (max-width: 990px){
  .contact{
    width: 100%;
  }
}

@media (max-width: 600px){
}