.contact{
  border: 1px solid #5D4A66;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow:
  0 3.4px 38.3px rgba(0, 0, 0, 0.057),
  0 5.5px 62px rgba(0, 0, 0, 0.085),
  0 7.7px 76.2px rgba(0, 0, 0, 0.109),
  0 20px 25px rgba(0, 0, 0, 0.15)
;
}

.contact h1{
  margin: auto;
  border-radius: 5px;
  padding: 5px 15px;
}

form{
  display: flex;
  flex-direction: column;
  /*align-items: flex-start;*/
  width: 75%;
  padding: 15px;
  margin: auto;
  /* border: 1px solid black; */
  padding: 30px 15px;
}

form label{
  font-size: 1.3rem;
}

form input[type=text], input[type=email]{
  border: 1px solid #5D4A66 ;
  border-radius: 5px;
  padding: 15px 10px;
  font-size: 1rem;
}

form textarea{
  border: 1px solid #5D4A66 ;
  border-radius: 5px;
  height: 150px;
  font-size: 1.2rem;
}

form input[type=text]:focus, input[type=email]:focus, textarea:focus{
  background-color: #fff6de;
  outline: none;
  border: 2px solid #5D4A66 ;
}

form button{
  width: 15%;
  height: 45px;
  background-color: #fff6de;
  outline: none;
  border: 1px solid #5D4A66;
  border-radius: 5px;
  transition: background-color .4s ease;
  margin: auto;
  margin-top: 10px;
}

form button:hover{
  background-color: #e6c673;
}

form input, textarea, label{
  margin: 2.5px;
}