.landing-page{
  border: 1px solid #5D4A66;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  box-shadow:
  0 3.4px 38.3px rgba(0, 0, 0, 0.057),
  0 5.5px 62px rgba(0, 0, 0, 0.085),
  0 7.7px 76.2px rgba(0, 0, 0, 0.109),
  0 20px 25px rgba(0, 0, 0, 0.15)
;
  background-color: #ffffed;
  padding: 20px;
}

.landing-page h2{
  overflow: hidden;
  border-right: .15em solid #5D4A66 ;
  white-space: nowrap;
  margin: 0 auto;
  width: 30%;
  letter-spacing: .15em;
  animation:
    typing 4s steps(45, end),
    blink-caret .8s step-end infinite;
}

@keyframes typing{
  from {width: 0}
  to {width: 30%}
}

@keyframes blink-caret{
  from, to {border-color: transparent}
  50%{ border-color: black }
} 

.view-resume{
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: 1px solid #3d2647;
  padding: 5px;
  width: 10%;
  height: 45px;
  margin: 0 auto;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #FFE49E;
  color:  #5D4A66;
  transition: background-color .4s ease;
}

.view-resume:hover{
  background-color: #f0ca69;
  color: #3d2647;
}
