<<<<<<< HEAD
.landing-page{
  border: 1px solid #5D4A66;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  box-shadow:
  0 3.4px 38.3px rgba(0, 0, 0, 0.057),
  0 5.5px 62px rgba(0, 0, 0, 0.085),
  0 7.7px 76.2px rgba(0, 0, 0, 0.109),
  0 20px 25px rgba(0, 0, 0, 0.15)
;
  padding: 20px;
}

.landing-page h2{
  overflow: hidden;
  border-right: .15em solid #5D4A66 ;
  white-space: nowrap;
  margin: 0 auto;
  width: 20%;
  letter-spacing: .15em;
  animation:
    typing 4s steps(45, end),
    blink-caret .8s step-end infinite;
}

@keyframes typing{
  from {width: 0}
  to {width: 20%}
}

@keyframes blink-caret{
  from, to {border-color: transparent}
  50%{ border-color: black }
} 

.view-resume{
  outline: none;
  border: 1px solid black;
  padding: 5px;
  width: 15%;
  height: 50px;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #40db9a;
  color: black;
  transition: background-color .4s ease;
  transition: color .4s ease;
}

.view-resume:hover{
  background-color: #12612f;
  color: white;
}
=======
>>>>>>> parent of 52d27571... finished basic styling and a few animations. Have to properly fill out the components next and then it'll almost be done
