
.projects{
  padding-bottom: 40px;
}

.projects h1{
  text-align: center;
  margin: 0 auto;
}

.total-projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-page h1{
  width: 100%;
}

.project{
  border: 1px solid pink;
  border-radius: 10px;
  width: 35%;
  margin: 25px 10px;
  transition: transform 500ms;
  background-color: #ffffed;
}

.carousel {
  position: relative
}

.carousel.pointer-event {
  -ms-touch-action: pan-y;
  touch-action: pan-y
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: ""
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  height: 160px;
  object-fit: fill;
  border-radius: 5px 5px 0 0;
}

.project h2, .project p{
  margin-left: 5px;
}

.project h2{
  color: #7e7c80;
  text-align: center;
}

.project p{
  font-size: 1.1rem;
}

.project-links{
  display: flex;
  justify-content: space-evenly;
}

.active.carousel-item-left,
.carousel-item-prev:not(.carousel-item-right) {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%)
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  -webkit-transform: none;
  transform: none
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
  z-index: 1;
  opacity: 1
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s .6s
}

@media (prefers-reduced-motion:reduce) {

  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    transition: none
  }
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease
}

@media (prefers-reduced-motion:reduce) {

  .carousel-control-next,
  .carousel-control-prev {
    transition: none
  }
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  color: #5D4A66;
  padding: 5px;
  border-radius: 7px;
  margin: 5px auto;
  transition-timing-function: ease;
  transition: all 0.4s;
}

.project a:hover{
  color:#3d2647;
  background-color: #FFE49E;
}