.App {
  text-align: left;
  background:
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App{
  background: white;
}

nav{
  background: #C98986;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-links{
  display: flex;
  justify-content: flex-start;
}

.links{
  text-decoration: none;
  color: black;
  padding: 5px;
  font-size: 1.3rem;
}

.links:hover{
  background: #582630;
  color: lightgray;
}
.app-body{
  padding: 10px;
  width: 80%;
  margin: 10px 9%;
}

.landing-page{
/*code here*/
}

.skill-page{
}

.contact{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
form{
  display: flex;
  flex-direction: column;
  /*align-items: flex-start;*/
  width: 75%;
  padding: 15px;
}
form label{
  font-size: 1rem;
}

.projects-page{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-page h1{
  width: 100%;
}

.project{
  border: 1px solid pink;
  border-radius: 10px;
  width: 40%;
  margin: 10px 4.5%;
}

.project-screenshot{
  width: 500px;
  height: 333px;
}

.about{
}

.comp{
  margin: 10px 0;
}
/*styling for a sticky navBar*/

#navibar{
  overflow: hidden;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}
.app-body{
  margin-top: 50px;
  padding: 20px;
}

.sticky + .app-body{
  padding-top: 60px;
}

.skill-page h1{
  width: 100%;
}

.skill-items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.single-skill{
  width: 25%;
  margin: 10px 3%;
}

.lang-logos{
  width: 100px;
  height: 100px;
}
/*
Slideshow CSS Here
*/

.back, .next{
  width: 100px;
  height: 75px;
  /* border: 2px solid #282c34;
  border-radius: 4px; */
}

/* .slideshow-cont{
  max-width: 98%;
  position: relative;
  margin: auto;
}

.slide{
  display: none;
}

.projects-page .back, .next {
  cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
 }
 .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.proj-sum {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.back:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* @-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.disNone{
  display: none;
}
.block{
  display:block;
} */


/*
Slideshow CSS End
*/


/*media query for smaller screen at 1050px
class large
*/
@media (max-width: 1050px){
  body{
    color: lightslategray;
  }
  .App{
    background: #582630;
  }
  .navigation, .large{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;

  }
  .navigation .large, .site-header{
    /*width: 75%;*/
    font-size: 2.4rem;
    /*margin-left: 12%;*/
    color: black;
    width: 95%;
  }
  .navigation .large, .links{
    flex-grow: 1;
  }
/*end of large*/
}

/*fixing header at max 890px
@media (max-width: 890px){
  .navigation .large, .site-header{
    width: 100%;
  }
}*/


/*media query for tablet at 800px
class medium*/
@media (max-width: 800px){
  body{
    color: pink;
  }
  .App{
    background: lavender;
  }
  .medium .navigation{
    border: 2px solid black;
    background: yellow;
  }
  /*end of medium*/
}


/*media query for mobile at 500px
class small
*/
@media (max-width: 500px){
body{
    color: yellow;
  }
  .App{
    background: black;
  }
  .small .navigation{
    border: 3px solid red;
    background: purple;
  }
  /*end of small*/
}
