.App {
  text-align: left;
  background:
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App{
  background: white;
}

nav{
  background: #C98986;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-links{
  display: flex;
  justify-content: flex-start;
}

.links{
  text-decoration: none;
  color: black;
  padding: 5px;
  font-size: 1.3rem;
}

.links:hover{
  background: #582630;
  color: lightgray;
}
.app-body{
  padding: 10px;
  width: 80%;
  margin: 10px 9%;
}

.landing-page{
/*code here*/
}

.skill-page{
}

.contact{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
form{
  display: flex;
  flex-direction: column;
  /*align-items: flex-start;*/
  width: 75%;
  padding: 15px;
}
form label{
  font-size: 1rem;
}

.projects-page{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projects-page h1{
  width: 100%;
}

.project{
  border: 1px solid pink;
  border-radius: 10px;
  width: 40%;
  margin: 10px 4.5%;
}

.project-screenshot{
  width: 500px;
  height: 333px;
}

.about{
}

.comp{
  margin: 10px 0;
}
/*styling for a sticky navBar*/

#navibar{
  overflow: hidden;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}
.app-body{
  margin-top: 50px;
  padding: 20px;
}

.sticky + .app-body{
  padding-top: 60px;
}

.skill-page h1{
  width: 100%;
}

.skill-items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.single-skill{
  width: 25%;
  margin: 10px 3%;
}

.lang-logos{
  width: 100px;
  height: 100px;
}
/*
Slideshow CSS Here
*/

@keyframes tonext {
  75%{
    left: 0;
  }
  95%{
    left: 100%;
  }
  98%{
    left: 100%;
  }
  99%{
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

*{
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

/* *::-webkit-scrollbar{
  width: 0;
}

*::-webkit-scrollbar-track{
  background: transparent;
}
*::-webkit-scrollbar-thumb{
  background: transparent;
  border: none;
}*/

.image{
  width: 100%;
  height: auto;
}

.wrapper{
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  border: 3px solid blue;
  width: 100%;
}

.inner{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

article{
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  counter-increment: item;
}

.image{
  width: 100%;
  height: 600px;
  opacity: .5;
}

article:before{
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: hotpink;
  font-size: 2rem;
}

/* article{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
} */

input{
  border: 4px solid green;
}

@media (hover: hover) {
  article{
    animation-name: tonext, snap;
    animation-timing-function: ease-out;
    /* animation-duration: 1s;
    animation-iteration-count: infinite; */
  }
  .carousel-slide:last-child article{
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  article{
    animation-name: none;
  }
}

.wrapper:hover article, .wrapper:focus-within article{
  animation-name: none;
}

.carousel-nav{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
.inputs{
  margin-top: -33%;
  z-index: 1;
}

.inputs input{
  display: inline-block;
  /* will remove drop shadow later */
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
}

.carousel-nav span{
  position: absolute;
  top: 0;
  margin-top: -57.5%;
  width: 60px;
  height: 5rem;
  font-size: 0;
  outline: 0;
  z-index: 1;
}

.back{
  margin-left: -92%;
}

.forward{
  margin-right: -92%;
}

.info{
  border: 1px solid black;
}

.show-info{
  border: 3px solid purple;
}

/*
Okay, with carousel__snapper, i think that'll have to be put in w/ the .map() since it needs to be on each slide. Also I'll need to add the forward and back arrows outside of the map so there's only the ones


wrapper = .carousel

article = carousel__snapper

i think item might be .slider-prev-next-control? so i should call it control instead??

 */

/*
Slideshow CSS End
*/


/*media query for smaller screen at 1050px
class large
*/
@media (max-width: 1050px){
  body{
    color: lightslategray;
  }
  .App{
    background: #582630;
  }
  .navigation, .large{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;

  }
  .navigation .large, .site-header{
    /*width: 75%;*/
    font-size: 2.4rem;
    /*margin-left: 12%;*/
    color: black;
    width: 95%;
  }
  .navigation .large, .links{
    flex-grow: 1;
  }
/*end of large*/
}

/*fixing header at max 890px
@media (max-width: 890px){
  .navigation .large, .site-header{
    width: 100%;
  }
}*/


/*media query for tablet at 800px
class medium*/
@media (max-width: 800px){
  body{
    color: pink;
  }
  .App{
    background: lavender;
  }
  .medium .navigation{
    border: 2px solid black;
    background: yellow;
  }
  /*end of medium*/
}


/*media query for mobile at 500px
class small
*/
@media (max-width: 500px){
body{
    color: yellow;
  }
  .App{
    background: black;
  }
  .small .navigation{
    border: 3px solid red;
    background: purple;
  }
  /*end of small*/
}
